
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
color: deeppink;
font-size: 40px;
animation-direction: normal;
animation-timing-function: linear;;
}

.cell{
    height: 75px;
    width: 75px;
    border: 1px solid black;
}
#board{
    display: flex;
}
.player1{background-color: red;
    border-radius: 40px;
}

.player2{background-color: black;
    border-radius: 40px;
}